body{
    background-color: rgb(100, 190, 255);
}

.title {
    margin-top: 100px;

    font-size: 70px;
    text-align: center;
    font-family: sans-serif, monospace;
}

img{
    display: block;
    margin: auto;
    border: 2px solid white;
}

.description,
.ingredients,
.steps {
    margin: 40px 100px;
    background-color: rgb(40, 40, 40);
    border: 2px solid white;
    padding: 30px;
}

h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(100, 190, 255);
}

li,
.description p{
    font-family: "Lucida sans", "Times New Roman", serif;
    font-size: 30px;
    margin: 0;
    color:  white;
}

strong{
    color: rgb(249, 249, 138);
}

.home_link{
    display: block;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin: 80px auto;
    color: rgb(40, 40, 40);
}